/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }



/*Body General styling*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #232946;
}

h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: rgba(35, 41, 70, 0.75);
}

h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #E4E4E4;
}

h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}


/*Header styling*/
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 800px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.navoption {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 800px;
    width: 33.33%;
}

.navoption picture {
    flex: none;
    order: 0;
    flex-grow: 1;
}

.navoption a{
    position: absolute;
    top: 671px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.navoption p {
    position: absolute;
    top: 717px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.logo{
    position: absolute;
    width: auto;
    top: 2rem;
}

/*Intro section styling*/

.wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    max-width: 1200px;
    padding-top: 4rem;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.intro p{
    text-align: center;
}

.intro img {
    border-radius: 8px;
}

.intro img + p {
    font-weight: 700;
}
